*{
    margin: 0;
    padding: 0;
    color: var(--font-color);
}

body{
    background-color: #404040;
}

img{
    height: 39vh;
    width: 18vw;
    border-radius: 10px;
    border: 3px solid whitesmoke;
}

:root{
    --font: 'New Amsterdam', 'Roboto', 'Ubuntu', 'Teko', 'Rubik', 'Roboto Condensed', 'Raleway';
    --font-color: white;
}

.edu{
    letter-spacing: 2px;
}

.name{
    letter-spacing: 2px;
}

.profile{
    margin: 2em;
}

h1{
    font-family: var(--font);
    color: var(--font-color);
    margin-top: 1.6em;
}

.info{
    font-family: 'Roboto';
    color: var(--font-color);
}

th{
    color: var(--font-color);
    padding: 10px;
}

.content{
    border: 2px solid white;
    height: 100px;
}

.answer{
    font-family: 'Roboto';
    color: var(--font-color);
}

.answer td{
    width: 15em;
}

h2{
    font-family: var(--font);
    color: var(--font-color);
}

.background{
    position: relative;
    top: 1.8em;
}

.education{
    font-family: 'Roboto';
    color: var(--font-color);
    list-style: none;
}

.qualities{
    height: 20em;
    width: 60em;
    border-radius: 10px;
    position: relative;
    left: 28vw;
    bottom: 70vh;
}

.skills th{
    width: 100vw;
    font-family: var(--font);
    letter-spacing: 2px;
}

.skills-input{
    list-style: none;
    font-family: 'Roboto';
}

.interest-input li{
    list-style: none;
    font-family: 'Roboto';
}

.affiliation-input li{
    font-family: 'Roboto';
    list-style: none;
}

.personal-qualities li{
    font-family: 'Roboto';
    list-style: none;
}

.schedule{
    height: 400px;
    width: 400px;
    position: relative;
    top: -30vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.nav ul{
    position: relative;
    left: 80vw;
    top: 3.9vh;
    font-family: var(--font);
    display: flex;
    list-style: none;
    gap: 3em;
    font-size: clamp(1rem, 1.2rem, 2rem);
}

.nav ul li button{
    padding: 10px;
    font-family: 'Quicksand', var(--font);
    font-weight: bolder;
    transition: 0.5s;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid whitesmoke;
    cursor: pointer;
    
}

.nav ul li a{
    text-decoration: none;
    letter-spacing: 1.5px;
    color: white;   
}

.nav ul li button:hover{
    background-color: black; 

}

.nav ul li button a:hover{
    background-color: transparent;
}



